body {
    margin: 0;
}

.header {
    background: #000;
    width: 100%;
    height: 45px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
    color: #fff;
}

.logo {
    height: 12px;

}

.header-wrapper {
    padding: 0 40px;
    height: 100%;
    max-width: 1280px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.login {
    color: #f0baca;
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
}

@media (max-width: 992px) {
    .menu {
        display: none;
    }
}

@media (max-width: 544px) {
    .header-wrapper {
        padding: 0 20px;
        max-width: 100%;
    }
}
